In [1]:
from db import DemoDB

In [2]:
banco = DemoDB()

Indexing schema. This will take a second...finished!

In [3]:
banco.tables

Refreshing schema. Please wait...done!

+--------+---------------+----------------------------------------------------------------------------------+
| Schema | Table         | Columns                                                                          |
+--------+---------------+----------------------------------------------------------------------------------+
| public | Album         | AlbumId, Title, ArtistId                                                         |
| public | Artist        | ArtistId, Name                                                                   |
| public | Customer      | CustomerId, FirstName, LastName, Company, Address, City, State, Country, PostalC |
|        |               | ode, Phone, Fax, Email, SupportRepId                                             |
| public | Employee      | EmployeeId, LastName, FirstName, Title, ReportsTo, BirthDate, HireDate, Address, |
|        |               |  City, State, Country, PostalCode, Phone, Fax, Email                             |
| public | Genre         | GenreId, Name                                                                    |
| public | Invoice       | InvoiceId, CustomerId, InvoiceDate, BillingAddress, BillingCity, BillingState, B |
|        |               | illingCountry, BillingPostalCode, Total                                          |
| public | InvoiceLine   | InvoiceLineId, InvoiceId, TrackId, UnitPrice, Quantity                           |
| public | MediaType     | MediaTypeId, Name                                                                |
| public | Playlist      | PlaylistId, Name                                                                 |
| public | PlaylistTrack | PlaylistId, TrackId                                                              |
| public | Track         | TrackId, Name, AlbumId, MediaTypeId, GenreId, Composer, Milliseconds, Bytes, Uni |
|        |               | tPrice                                                                           |
+--------+---------------+----------------------------------------------------------------------------------+

In [4]:
album = banco.tables.Album.all()

In [5]:
album.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [6]:
artista = banco.tables.Artist.all()

In [7]:
artista.head()

   ArtistId               Name
0         1              AC/DC
1         2             Accept
2         3          Aerosmith
3         4  Alanis Morissette
4         5    Alice In Chains

In [9]:
artista.merge(album, how='inner').head()

   ArtistId       Name  AlbumId                                  Title
0         1      AC/DC        1  For Those About To Rock We Salute You
1         1      AC/DC        4                      Let There Be Rock
2         2     Accept        2                      Balls to the Wall
3         2     Accept        3                      Restless and Wild
4         3  Aerosmith        5                               Big Ones

In [10]:
musicas = banco.tables.Track.all()

In [12]:
artista.merge(album, how='inner').merge(musicas, how='inner').head()

,ArtistId,Name,AlbumId,Title,TrackId,MediaTypeId,GenreId,Composer,Milliseconds,Bytes,UnitPrice
0,12,Black Sabbath,16,Black Sabbath,149,1,3,None,382066,12440200,0.99
1,13,Body Count,18,Body Count,169,1,4,None,317936,10489139,0.99
2,90,Iron Maiden,95,A Real Dead One,1222,1,3,Steve Harris,324623,5195776,0.99
3,90,Iron Maiden,102,Live After Death,1297,1,3,Harris,261955,6289117,0.99
4,90,Iron Maiden,104,Live At Donington 1992 (Disc 2),1320,1,1,None,494602,11874875,0.99

In [15]:
banco.query('select * from Album where ArtistId = 12')

   AlbumId                            Title  ArtistId
0       16                    Black Sabbath        12
1       17  Black Sabbath Vol. 4 (Remaster)        12