In [2]:
%matplotlib inline
import pydataset
import matplotlib.pyplot as plt
import seaborn
from sklearn import tree, preprocessing, model_selection
import pandas as pd

In [3]:
titanic = pydataset.data('titanic')

In [4]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [5]:
titanic.describe()

            class     age   sex survived
count        1316    1316  1316     1316
unique          3       2     2        2
top     3rd class  adults   man       no
freq          706    1207   869      817

In [6]:
le = preprocessing.LabelEncoder()

In [7]:
titanic['age'] = le.fit_transform(titanic['age'])

In [8]:
titanic.head()

       class  age  sex survived
1  1st class    0  man      yes
2  1st class    0  man      yes
3  1st class    0  man      yes
4  1st class    0  man      yes
5  1st class    0  man      yes

In [9]:
titanic.tail()

          class  age    sex survived
1312  3rd class    1  women       no
1313  3rd class    1  women       no
1314  3rd class    1  women       no
1315  3rd class    1  women       no
1316  3rd class    1  women       no

In [10]:
titanic['survived'] = le.fit_transform(titanic['survived'])
titanic['sex'] = le.fit_transform(titanic['sex'])
titanic['class'] = le.fit_transform(titanic['class'])

In [11]:
titanic.head()

   class  age  sex  survived
1      0    0    0         1
2      0    0    0         1
3      0    0    0         1
4      0    0    0         1
5      0    0    0         1

In [12]:
arvore = tree.DecisionTreeClassifier(max_depth=10)

In [13]:
arvore.fit(titanic[['class', 'sex', 'age']], titanic['survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best')

In [14]:
arvore.score(titanic[['class', 'sex', 'age']], titanic['survived'])

0.7978723404255319

In [15]:
valor_pred = pd.DataFrame(
    [['3rd class', 'adults', 'women'], ['1st class', 'adults', 'man']],
    columns=['class', 'age', 'sex']
)

In [16]:
valor_pred

       class     age    sex
0  3rd class  adults  women
1  1st class  adults    man

In [17]:
valor_pred['age'] = le.fit_transform(valor_pred['age'])
valor_pred['sex'] = le.fit_transform(valor_pred['sex'])
valor_pred['class'] = le.fit_transform(valor_pred['class'])

In [18]:
arvore.predict(valor_pred)

array([1, 0], dtype=int64)

In [19]:
valor_pred

   class  age  sex
0      1    0    1
1      0    0    0

Para gerar o gráfico:
- Instalar http://www.graphviz.org/Download_windows.php
- pip install pydotplus

In [21]:
from IPython.display import Image
import pydotplus
dot_data = tree.export_graphviz(
    arvore, out_file=None, feature_names=list(titanic.columns.values),
    class_names=['no', 'yes'], filled=True, rounded=True, special_characters=True)  
graph = pydotplus.graph_from_dot_data(dot_data)  
Image(graph.create_png())

InvocationException: GraphViz's executables not found