In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
    [
        ['PE', 'Pernambuco', 'Recife'], ['RJ', 'Rio de Janeiro', 'Rio de Janeiro'],
        ['PB', 'Paraíba', 'João Pessoa'], ['SP', 'São Paulo', 'São Paulo'],
        ['MG', 'Minas Gerais', 'Belo Horizonte'], ['CE', 'Ceará', 'Fortaleza'],
        ['AC', 'Acre', 'Rio Branco'], ['MA', 'Maranhão', 'São Luís'], ['RN', 'Rio Grande do Norte', 'Natal'],
        ['PR', 'Paraná', 'Curitiba'], ['RS', 'Rio Grande do Sul', 'Porto Alegre']
    ], columns=['Sigla', 'Nome', 'Capital']
)

In [3]:
df

   Sigla                 Nome         Capital
0     PE           Pernambuco          Recife
1     RJ       Rio de Janeiro  Rio de Janeiro
2     PB              Paraíba     João Pessoa
3     SP            São Paulo       São Paulo
4     MG         Minas Gerais  Belo Horizonte
5     CE                Ceará       Fortaleza
6     AC                 Acre      Rio Branco
7     MA             Maranhão        São Luís
8     RN  Rio Grande do Norte           Natal
9     PR               Paraná        Curitiba
10    RS    Rio Grande do Sul    Porto Alegre

In [4]:
df.index

RangeIndex(start=0, stop=11, step=1)

In [5]:
df.index = df['Sigla']

In [6]:
df

      Sigla                 Nome         Capital
Sigla
PE       PE           Pernambuco          Recife
RJ       RJ       Rio de Janeiro  Rio de Janeiro
PB       PB              Paraíba     João Pessoa
SP       SP            São Paulo       São Paulo
MG       MG         Minas Gerais  Belo Horizonte
CE       CE                Ceará       Fortaleza
AC       AC                 Acre      Rio Branco
MA       MA             Maranhão        São Luís
RN       RN  Rio Grande do Norte           Natal
PR       PR               Paraná        Curitiba
RS       RS    Rio Grande do Sul    Porto Alegre

In [7]:
del df['Sigla']

In [8]:
df['Capital']

Sigla
PE            Recife
RJ    Rio de Janeiro
PB       João Pessoa
SP         São Paulo
MG    Belo Horizonte
CE         Fortaleza
AC        Rio Branco
MA          São Luís
RN             Natal
PR          Curitiba
RS      Porto Alegre
Name: Capital, dtype: object

In [9]:
df.__getitem__('Capital')

Sigla
PE            Recife
RJ    Rio de Janeiro
PB       João Pessoa
SP         São Paulo
MG    Belo Horizonte
CE         Fortaleza
AC        Rio Branco
MA          São Luís
RN             Natal
PR          Curitiba
RS      Porto Alegre
Name: Capital, dtype: object

In [10]:
df.loc['RN']

Nome       Rio Grande do Norte
Capital                  Natal
Name: RN, dtype: object

In [11]:
df.iloc[0]

Nome       Pernambuco
Capital        Recife
Name: PE, dtype: object