In [1]:
import pandas as pd
from db import DB

In [2]:
banco = DB(filename='logs.sqlite3', dbtype='sqlite')

Indexing schema. This will take a second...finished!

In [3]:
log_df = banco.tables.log.all()

In [5]:
log_df.head()

   id                  path  user_id                 date
0   1                     /        3  2017-01-03T11:41:00
1   2              /pandas/        4  2017-01-03T11:37:00
2   3              /videos/        5  2017-01-03T10:47:00
3   4                     /        2  2017-01-03T11:51:00
4   5  /python-para-zumbis/        5  2017-01-03T10:32:00

In [4]:
log_df.dtypes

id          int64
path       object
user_id     int64
date       object
dtype: object

In [6]:
log_df['date'] = pd.to_datetime(log_df['date'], format='%Y-%m-%d %H:%M:%S.%f')

In [7]:
log_df.dtypes

id                  int64
path               object
user_id             int64
date       datetime64[ns]
dtype: object

In [8]:
log_df.head()

   id                  path  user_id                date
0   1                     /        3 2017-01-03 11:41:00
1   2              /pandas/        4 2017-01-03 11:37:00
2   3              /videos/        5 2017-01-03 10:47:00
3   4                     /        2 2017-01-03 11:51:00
4   5  /python-para-zumbis/        5 2017-01-03 10:32:00

In [9]:
log_df.set_index(['date'], inplace=True)

In [10]:
log_df.head()

                     id                  path  user_id
date
2017-01-03 11:41:00   1                     /        3
2017-01-03 11:37:00   2              /pandas/        4
2017-01-03 10:47:00   3              /videos/        5
2017-01-03 11:51:00   4                     /        2
2017-01-03 10:32:00   5  /python-para-zumbis/        5

In [16]:
log_df.loc['2017-01-03 11']

                      id                  path  user_id
date
2017-01-03 11:41:00    1                     /        3
2017-01-03 11:37:00    2              /pandas/        4
2017-01-03 11:51:00    4                     /        2
2017-01-03 11:31:00    6              /cursos/        3
2017-01-03 11:50:00    9                     /        4
2017-01-03 11:38:00   10              /pandas/        1
2017-01-03 11:42:00   11    /django-ecommerce/        5
2017-01-03 11:50:00   12                     /        4
2017-01-03 11:59:00   13    /django-ecommerce/        3
2017-01-03 11:53:00   15  /python-para-zumbis/        5
2017-01-03 11:39:00   16              /cursos/        3
2017-01-03 11:40:00   17    /django-ecommerce/        5
2017-01-03 11:45:00   18  /python-para-zumbis/        5
2017-01-03 11:36:00   19              /pandas/        2
2017-01-03 11:33:00   21              /videos/        2
2017-01-03 11:56:00   23                     /        1
2017-01-03 11:51:00   24    /django-ecommerce/        4
2017-01-03 11:59:00   26              /cursos/        4
2017-01-03 11:57:00   28    /django-ecommerce/        3
2017-01-03 11:43:00   34              /pandas/        3
2017-01-03 11:46:00   35              /videos/        4
2017-01-03 11:46:00   36  /python-para-zumbis/        5
2017-01-03 11:58:00   38              /videos/        3
2017-01-03 11:37:00   39    /django-ecommerce/        2
2017-01-03 11:31:00   40  /python-para-zumbis/        4
2017-01-03 11:48:00   41  /python-para-zumbis/        2
2017-01-03 11:37:00   42              /videos/        4
2017-01-03 11:55:00   45              /cursos/        4
2017-01-03 11:30:00   49              /videos/        2
2017-01-03 11:37:00   50                     /        4
...                  ...                   ...      ...
2017-01-03 11:45:00   56                     /        3
2017-01-03 11:57:00   57  /python-para-zumbis/        5
2017-01-03 11:37:00   60              /videos/        3
2017-01-03 11:46:00   63  /python-para-zumbis/        5
2017-01-03 11:51:00   65    /django-ecommerce/        5
2017-01-03 11:31:00   67                     /        4
2017-01-03 11:50:00   69  /python-para-zumbis/        3
2017-01-03 11:50:00   71              /videos/        1
2017-01-03 11:59:00   72              /videos/        5
2017-01-03 11:49:00   73                     /        3
2017-01-03 11:34:00   74                     /        2
2017-01-03 11:35:00   75              /pandas/        4
2017-01-03 11:48:00   76              /pandas/        1
2017-01-03 11:35:00   77              /pandas/        2
2017-01-03 11:54:00   78  /python-para-zumbis/        3
2017-01-03 11:57:00   79              /pandas/        3
2017-01-03 11:32:00   80              /videos/        3
2017-01-03 11:39:00   82    /django-ecommerce/        3
2017-01-03 11:51:00   83              /pandas/        3
2017-01-03 11:51:00   84              /videos/        1
2017-01-03 11:59:00   86              /videos/        4
2017-01-03 11:56:00   88                     /        5
2017-01-03 11:34:00   89  /python-para-zumbis/        1
2017-01-03 11:35:00   90  /python-para-zumbis/        2
2017-01-03 11:33:00   91              /pandas/        2
2017-01-03 11:33:00   92  /python-para-zumbis/        1
2017-01-03 11:59:00   93              /videos/        2
2017-01-03 11:54:00   94    /django-ecommerce/        3
2017-01-03 11:39:00   95              /pandas/        2
2017-01-03 11:46:00  100              /cursos/        4

[64 rows x 3 columns]

In [15]:
log_df.loc['2017-01-03 10:47':'2017-01-03 10:51']

                     id                path  user_id
date
2017-01-03 10:47:00   3            /videos/        5
2017-01-03 10:51:00  32  /django-ecommerce/        2
2017-01-03 10:51:00  37                   /        5
2017-01-03 10:51:00  46                   /        5
2017-01-03 10:48:00  64                   /        3
2017-01-03 10:47:00  68            /cursos/        5
2017-01-03 10:47:00  87            /cursos/        2
2017-01-03 10:49:00  96  /django-ecommerce/        1